.newsletter {
  height: 200px;
  background-color: #2c2640;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-image: url(/insure-landing-page-master/images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-bottom: 10rem;

  @media screen and(max-width:750px) {
    flex-direction: column;
    height: 270px;
    width: 90%;
    justify-content: space-evenly;
    padding: 20px;
    background-image: url(/insure-landing-page-master/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-bottom: 5rem;
  }
  & h1 {
    color: #fff;
    width: 400px;
    line-height: 1;
    @media screen and(max-width:999px) {
      font-size: 2rem;
      margin-right: 1rem;
    }
    @media screen and(max-width:750px) {
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }

  & .viewPlans {
    border: 1.5px solid #fff !important;
    min-width: 180px;
    color: #fff !important;
    z-index: 2;
    &:hover {
      background-color: #fff !important;
      color: $VeryDarkViolet !important;
    }
  }
}
